@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contiener {
  padding: 20px 40px;
  margin: 0 auto;
  max-width: 90%;
}

header{
    background-image: url(/imges/bg.png);
    background-repeat: no-repeat;
    background-size: cover ;
    position: relative;
    
}
#nnn{
    border: none;
    outline: none;
}

.info{
    /* position: absolute; */
    bottom: 3rem;
    
}


a:hover {
  color: black;
}
a {
  text-decoration: none;
  list-style: none;
  color: white;
}

button {
  border-radius: 39px;
  width: 160px;
  height: 50px;
  background: #1f4aa8;
  color: white;
}

button:hover {
  background-color: black;
  color: white;
}

@media (min-width: 1600px) {
  .contiener {
    max-width: 1440px;
  }
}

@media (max-width:836px){
    .menu ul{
        display: none;
    }
}
@media (max-width:439px){
    .b{
        order: 2;
        width: 130px;
        height: 40px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}
@media (max-width:859px){
    .text h3{
        font-size: 60px;

    }
    .text p{
        font-size: 13px;
    }
}
@media (max-width:699px){
    .text h3{
        font-size: 40px;

    }
    .text p{
        font-size: 10px;
    }
}
@media (max-width:510px){
    .text h3{
        font-size: 27px;

    }
    .text p{
        font-size: 8px;
    }
}
@media(max-width:851px){
    .nnn{
        width: 200px;
      
    }
    .ddd{
        display: none;
    }
    .gg{
        display: grid;
        grid-template-columns: repeat(2,2fr);
    }
    .hhh{
        display: none;
    }
    .bb{
        display: none;
    }
}
@media (max-width:731px){
    .grii{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nnn{
        display: none;
    }
    .aaa{
        display: grid;
        grid-template-columns: repeat(3,3fr);
    }
}

@media (max-width:1323px){
    .foo{
        display: grid;
        grid-template-columns: repeat(3,3fr);
        gap: 40px;
    }
}
@media (max-width:983px){
    .foo{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 40px;
    }
}
@media (max-width:513px){
    .foo{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
    }
}
@media (max-width:559px){
    .date{
        display: none;
    }
}